
<nav>
  <div class="module">
    <h3>Module III</h3>
    <ul>
      <li><a href="/one-way-binding">One-Way Binding</a></li>
      <li><a href="/two-way-binding">Two-Way Binding</a></li>
      <li><a href="/signal-binding">Signal Binding</a></li>
      <li><a href="/ngIfDemo">ngIf Demo</a></li>
      <li><a href="/ngfordemo">ngFor Demo</a></li>
      <li><a href="/ngModelDemo">ngModel Demo</a></li>
    </ul>
  </div>

  <div class="module">
    <h3>Module VI : Services and Dependency Injection</h3>
    <ul>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>

  <div class="module">
    <h3>Module VII</h3>
    <ul>
      <li><a href="/loginAu">Login Authentication</a></li>
      <li><a href="/userList">UserList</a></li>
    </ul>
  </div>
    <div class="module">
    <h3>Module VIII</h3>
    <ul>
      <li><a href="/userform">Angular Forms</a></li>
      <li><a href="/userregistration">Template Driven Forms</a></li>
    </ul>
  </div>
      <div class="module">
    <h3>Module IX</h3>
    <ul>
      <li><a href="/students">StudentList</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-student-list></app-student-list> -->
